*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}


/* COMMON */
body{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
}

.container-jumbo-and-footer{
    width: 80%;
    margin: 0 auto;
}

.main-container{
    width: 60%;
    margin: 0 auto;
}

img{
    width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.bold-text{
    font-weight: bold;
    padding:10px 0;
}

.text-gray{
    color: #677784;
    padding-bottom: 35px;
}

.brg-ligthblue{
    background-color: #b5d0e7;
}

.blue-links{
    text-decoration: underline;
    color: #0061ff;
}

.underline{
    text-decoration: underline;
}

/* common columns classes */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
}

/* common buttons classes */
.btn{
    display: inline-block;
    line-height: normal;
    font-size: 12px;
    text-align: center;
}

.btn-blue{
    background-color: #0061ff;
    color: white;
}

.btn-blue:hover{
    background-color: #3c84ff;
}

.btn-normal{
    padding: 5px 15px;
}

.btn-large{
    padding: 5px 50px;
}

.btn-white{
    color: black;
    background-color: white;
}

.btn-white:hover{
    background-color: lightgray;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    line-height: 80px;
}

header ul li{
    display: inline-block;
    padding: 0 20px;
}

header a{
    color: black;
}

header li:hover{
    border-bottom: 2px solid black;
}

/* logo */
.col-logo{
    width: 10%;
}

.col-logo img{
    vertical-align: middle;
    padding: 0 20px;
}

/* menu */
.col-menu{
    width: 30%;
}

/* contact */
.col-contact{
    width: 55%;
    text-align: right;
}

/* start */
.col-start{
    width: 5%;
    padding-left: 10px;
}




/* MAIN */
main h3{
    font-size: 20px;
}
main h2{
    font-size: 30px;
}

/*jumbotron  */
.jumbotron{
    padding-top: 150px;
    margin-bottom: 200px;
}

.container-jumbo-and-footer > h1{
    font-size: 60px;
}

.col-cta{
    width: 30%;
    padding-top: 65px;
}

.col-img-jumbotron{
    width: 70%;
    position: relative;
    top: 70px;
}

.start-or-cancel{
    padding: 30px 0;
}

.start-or-cancel p{
    padding-top: 10px;
    font-size: 12px;
}

span.arrow{
    font-size: 30px;
}

/* business plan section*/

.business-plan{
    font-size: 12px;
}

.business-plan li{
    padding-left: 20px;
}

.invoice{
    margin-top: 50px;
    margin-bottom: 30px;
}

.radio-box{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
}

.radio-box:hover{
    cursor: pointer;
}

.radio-blue{
    border: 4px solid #0061ff;
}

.radio-gray{
    border: 1px solid #e6e6e7;
}

.radio-box.radio-gray{
    margin-left: 20px;
}

.col-plan{
    width: 30%;
    border: 1px solid #d6d6d8;
    padding-bottom: 50px;
}

.margin-col-center{
    margin: 0 5%;
}

.single-or-team{
    text-align: center;
    border-bottom: 1px solid #d6d6d8;
    padding: 10px 0;
}


.plan-content{
    padding-top: 20px;
    padding-left:20px;
    padding-right: 20px;
}

.info-plan-row ul li{
    margin-bottom: 20px;
}

.info-plan-row::after{
    content: "";
    display: block;
    width: 40px;
    border-bottom: 1px solid #d6d6d8;
    margin: 20px 0;
}

.try-free a{
    display: block;
    width: 100%;
    padding: 5px 0;
    margin-top: 30px;
    margin-bottom: 20px;
}

.characteristics-plan-row h4{
    margin-bottom: 20px;
}

.characteristics-plan-row ul li{
    padding-bottom: 15px;
}

.characteristics-plan-row .check-blue{
    color: #0464ff;
}

.icon{
    margin-left: -20px;
}

.enterprise-content{
    padding: 20px;
}

.contact-for-price{
    border: 1px solid #d6d6d8;
    margin-top: 40px;
}


.col-description{
    width: 70%;
    line-height: 30px;
}

.col-contact-office{
    width: 30%;
    text-align: right;
}

/* find a partner section */
.find-partner{
    padding-top: 130px;
    padding-bottom: 80px;
}

.col-partner-img,
.col-partner-text{
    width: 50%;
}

.col-partner-text{
    padding-top: 30px;
    padding-left: 40px;
}

.col-partner-text p{
    padding: 20px 0;
}

.col-partner-text .btn-white{
    border: 1px solid black;
}


/* operations section */
.operations-row{
    margin-top: 30px;
    margin-bottom: 80px;
    font-size: 12px;
}

.col-operations{
    width: 30%;
}

.operations-text p{
    padding: 20px 0;
}

/* Dropbox team */
.drop-team{
    padding-top: 50px;
}

.find-out{
    width: 50%;
    padding-bottom: 30px;
}

.find-out h2{
    padding-bottom: 30px;
}

.col-logo-team{
    width: 400px;
    height: 400px;
}

.col-quotes{
    width: calc(100% - 800px);
    height: 400px;
    background-color: #f5f5f5;
    padding: 50px; 
}

.team-logo-img{
    position: relative;
    width: 200px;
    height: 200px;
}

.logo-centr{ 
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}


/* background color logo team */
#bgr-green{
    background-color: #a2d39b;
    border: 10px solid #d0e9cd;
}

#bgr-burgundy{
    background-color: #61082b;
}

#bgr-lightblue{
    background-color: #0093ce;
}

#bgr-red{
    background-color: #ff1c1c;
}

#bgr-dark-red{
    background-color: #d50a1f;
}

#bgr-pastel-blue{
    background-color: #b5d0e7;
}

#bgr-blue{
    background-color: #0c2481;
}

#bgr-yellow{
    background-color: #fed830;
}

.logo-quotes-img{
    width: 100px;
}

.logo-quotes-img::after{
    content: "";
    display: block;
    width: 40px;
    border-bottom: 1px solid #d6d6d8;
    margin-top: 20px;
    margin-bottom: 40px;
}

.text-quotes > p{
    padding-bottom: 50px;
}

/* companies section */
.cta-companies{
    padding: 100px 0;
}

.col-companies-text,
.col-companies-btn{
    width: 50%;
}

.col-companies-text{
    color: #61082b;
}

.col-companies-btn{
    text-align: right;
}

/* faq section */
.faq{
    padding:50px 0;
}

.faq h2{
    padding-bottom: 30px;
    border-bottom: 1px solid #d6d6d8;
}

.question-row{
    border-bottom: 1px solid #d6d6d8;
}

.col-question{
    width: 80%;
    font-weight: bold;
    padding: 30px 0;
}

.col-angle{
    width: 20%;
    text-align: right;
    padding: 30px;
}

/* FOOTER */
footer{
    background-color: black;
    color: white;
}