*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}


/* COMMON */
body{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
}

.container-jumbo-and-footer{
    width: 80%;
    margin: 0 auto;
}

.main-container{
    width: 60%;
    margin: 0 auto;


    /* test */
    height: 500px;
}

img{
    width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.brg-ligthblue{
    background-color: #b5d0e7;
}

.blue-links{
    text-decoration: underline;
    color: #0061ff;
}

.f-s-12{
    font-size: 12px;
}

/* common columns classes */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
}

/* common buttons classes */
.btn{
    display: inline-block;
    line-height: normal;
    font-size: 12px;
}

.btn-blue{
    background-color: #0061ff;
    color: white;
}

.btn-blue:hover{
    background-color: #3c84ff;
}

.btn-normal{
    padding: 5px 15px;
}

.btn-large{
    padding: 5px 30px;
}

.btn-extralarge{
    padding: 5px 50px;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    line-height: 80px;
}

header ul li{
    display: inline-block;
    padding: 0 20px;
}

header a{
    color: black;
}

header li:hover{
    border-bottom: 2px solid black;
}

/* logo */
.col-logo{
    width: 10%;
}

.col-logo img{
    vertical-align: middle;
    padding: 0 20px;
}

/* menu */
.col-menu{
    width: 30%;
}

/* contact */
.col-contact{
    width: 55%;
    text-align: right;
}

/* start */
.col-start{
    width: 5%;
    padding-left: 10px;
}




/* MAIN */
main h2{
    font-size: 30px;
}

/*jumbotron  */
.jumbotron{
    padding-top: 150px;
    margin-bottom: 200px;
}

.container-jumbo-and-footer > h1{
    font-size: 60px;
}

.col-cta{
    width: 30%;
    padding-top: 65px;
}

.col-img-jumbotron{
    width: 70%;
    position: relative;
    top: 70px;
}

.start-or-cancel{
    padding: 30px 0;
}

.start-or-cancel p{
    padding-top: 10px;
}

span.arrow{
    font-size: 30px;
}

/* business plan */
.invoice{
    margin-top: 50px;
    margin-bottom: 30px;
}

.radio-box{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
}

.radio-blue{
    border: 4px solid #0061ff;
}

.radio-gray{
    border: 1px solid #e6e6e7;
}

.radio-box.radio-gray{
    margin-left: 20px;
}

.col-plan{
    width: 30%;
    border: 1px solid #d6d6d8;
    height: 800px;
}

.margin-col-center{
    margin: 0 5%;
}

.single-or-team{
    text-align: center;
    border-bottom: 1px solid #d6d6d8;
    padding: 10px 0;
}


.plan-content{
    padding-top: 20px;
    padding-left:20px;
    padding-right: 20px;
}

main h3{
    font-size: 20px;
}

.info-plan-row ul li{
    font-size: 12px;
    margin-bottom: 20px;
}

.bold-text{
    font-weight: bold;
    padding:10px 0;
}

.text-gray{
    color: #677784;
    padding-bottom: 35px;
}

.info-plan-row .btn-large{
    margin-top: 30px;
    margin-bottom: 20px;
}

.info-plan-row::after{
    content: "";
    display: block;
    width: 40px;
    border-bottom: 1px solid #d6d6d8;
    margin: 20px 0;
}

.characteristics-plan-row h4{
    margin-bottom: 20px;
}

.characteristics-plan-row ul li{
    padding-bottom: 15px;
    font-size: 12px;

    
}

.characteristics-plan-row .check-blue{
    color: #0464ff;
}

.check-blue-uno,
.text-uno{
    display: inline-block;
}

.contact-for-price{
    border: 1px solid #d6d6d8;
    margin: 40px 0;
}


.col-description{
    width: 70%;
}

.col-contact-office{
    width: 30%;
    text-align: right;
}



/* FOOTER */